@import '../../assets/styles/colors';

nav {
  align-items: center;
  background-color: $dark-blue;
  display: flex;
  height: 50px;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
    padding: 1em 2em;

    &:hover {
      color: $soft-blue;
    }
  }
}
