version: 2.1

orbs:
  coveralls: coveralls/coveralls@1.0.6
  envsubst: sawadashota/envsubst@1.1.0

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: cimg/node:lts

jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}

      - run:
          name: Install Dependencies
          command: yarn install --immutable

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - persist_to_workspace:
          root: ~/repo
          paths: .

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Run Tests
          command: yarn test

      - coveralls/upload

      - store_test_results:
          path: .

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo

      - envsubst/install

      - run:
          name: Set Env Variables
          command: envsubst < .env.production 

      - run:
          name: Build App
          command: yarn build

      - run:
          name: Firebase Deploy
          command: ./node_modules/.bin/firebase deploy --token "$FIREBASE_TOKEN"

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
