@import '../../../assets/styles/colors';

#planets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    border-radius: 4px;
    border: 1px solid $light-blue;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 1em;
    width: 20em;

    div {
      display: flex;
      justify-content: space-between;

      small {
        color: $light-blue;
        font-size: 0.75em;
      }

      span {
        text-align: right;
      }
    }
  }
}
