@import '../../../assets/styles/colors';

#todo-list {
  list-style: none;

  li {
    align-items: center;
    display: flex;
    height: 40px;
    margin-bottom: 1em;
    margin-left: 0;

    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;

      & + label:before {
        background-color: $white;
        border: 1px solid $light-blue;
        border-radius: 8px;
        content: '';
        cursor: pointer;
        display: inline-block;
        height: 40px;
        margin-right: 1.25em;
        width: 36px;
      }

      &:checked {
        & + label {
          text-decoration: line-through;
        }

        & + label:before {
          background-color: $light-blue;
        }
      }
    }

    label {
      align-items: center;
      cursor: pointer;
      display: flex;
      line-height: calc(40px - 0.6em);
    }
  }
}
