@import '../../../assets/styles/colors';

#home-page {
  p {
    width: 60%;
  }

  .counter {
    color: $dark-blue;
    font-size: 32px;
    font-weight: bold;
  }

  button {
    margin-right: 1em;
    text-transform: uppercase;
  }
}
