@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './reset';

html,
body {
  height: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
